.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj
# renv package cache/library
renv/library/

# temporary renv files
renv/staging/
renv/local/

# Data
data/*
!data/README.md
!data/bs/
!data/glp1ra/

data/bs/*
!data/bs/raw/
!data/bs/processed/

data/glp1ra/*
!data/glp1ra/raw/
!data/glp1ra/processed/

data/bs/raw/*
!data/bs/raw/.gitkeep

data/bs/processed/*
!data/bs/processed/.gitkeep

data/glp1ra/raw/*
!data/glp1ra/raw/.gitkeep

data/glp1ra/processed/*
!data/glp1ra/processed/.gitkeep

# Outputs
output/*
!output/bs/
!output/glp1ra/

output/bs/*
!output/bs/figures/
!output/bs/tables/

output/glp1ra/*
!output/glp1ra/figures/
!output/glp1ra/tables/

output/bs/figures/*
!output/bs/figures/README.md

output/bs/tables/*
!output/bs/tables/README.md

output/glp1ra/figures/*
!output/glp1ra/figures/README.md

output/glp1ra/tables/*
!output/glp1ra/tables/README.md
